rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /data/user {
      allow read: if true;
      allow write: if request.auth != null;
    }
    match /data/joke_post {
      allow read: if true;
      allow write: if request.auth != null;
    }
    match /data/joke_theme {
      allow read, write: if true;
    }
  }
}